@viewport {
  width: device-width;
  zoom: 1;
}

:root {
  --main-colour: #abb2bf;
  --background-colour: #282c34;
  --vertical-margin: 20px;
  --horizontal-margin: 20px;
  --dark-accent-colour: rgba(102, 102, 102, 0.404);
  --dark-reading-colour: rgba(46, 45, 45, 0.925);
  --light-accent-colour: #e5c07b;
  --link-colour: #61afef;
}

.a {
  color: var(--main-colour);
  text-decoration: underline;
  text-decoration-color: var(--link-colour);
}

.a:hover {
  color: var(--link-colour);
}

.split {
  border: 1px solid var(--dark-accent-colour);
  width: 60%;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-colour);
  color: var(--main-colour);

  max-width: 720px;
  margin: 0 auto;
}

.banner {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: var(--vertical-margin);
}

.navbar__btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: var(--background-colour);
  color: var(--main-colour);
  margin: 0 auto;
  cursor: pointer;
}
.navbar__btn_active,
.navbar__btn:hover {
  color: var(--light-accent-colour);
  text-decoration: underline;
  text-decoration-color: var(--light-accent-colour);
}

.l-content {
  margin: var(--vertical-margin);
  flex: 1;
}

.content {
  display: none;
}

.content__project-list {
  flex-direction: column;
  justify-content: center;
}

.l-project {
  display: grid;
  grid-template-columns: 225px 3fr 1fr;
  grid-template-rows: 225px 1fr;
  grid-template-areas:
    "card desc desc"
    "card tags links";
  border-radius: 25px;
  border: 2px solid var(--dark-accent-colour);
}

.proj__description {
  grid-area: desc;
  padding: var(--vertical-margin);
  outline: #56b6c2;
  text-align: center;
  align-self: center;
}

.proj__links {
  grid-area: links;
}

.proj__title {
  grid-area: title;
  text-align: center;
}

.proj__tags {
  grid-area: tags;
  display: flex;
  justify-content: center;
  align-content: center;
}

.proj__tag {
  border-radius: 100px;
  background-color: var(--light-accent-colour);
  border: 1px solid var(--main-colour);
  color: var(--dark-reading-colour);
  margin: auto auto;
  padding: 0.2rem 0.5rem;
  text-align: center;
}

.proj__image {
  grid-area: image;
  margin-top: var(--vertical-margin);
  margin-bottom: 0;
}

.proj__card {
  display: flex;
  grid-area: card;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0px;
  list-style-type: none;
  margin: 0 auto;
}

.l-links__item {
  width: 200px;
  margin: 0 10%;
}

.l-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: unset;
  justify-content: center;
  align-content: center;
}

.icon {
  margin: auto 20px;
}

.footer {
  margin: var(--vertical-margin) 0;
  justify-self: flex-end;
}

.h-show {
  display: grid;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 900px) {
  .content__project-list {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 280px;
    grid-area: "active active";
    row-gap: var(--vertical-margin);
    column-gap: var(--horizontal-margin);
  }
  .l-project {
    grid-template-columns: 200px;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
      "card"
      "card";
    justify-content: center;
    border: none;
  }
  .l-project_active {
    display: grid;
    grid-area: active;
    grid-template-columns: 225px 3fr 1fr;
    grid-template-rows: 225px 1fr;
    grid-template-areas:
      "card desc desc"
      "card tags links";
    border-radius: 25px;
    border: 2px solid var(--light-accent-colour);
  }

  .proj__tags,
  .proj__links,
  .proj__description {
    display: none;
  }
  .proj__card {
    border-radius: 25px;
    border: 2px solid var(--dark-accent-colour);
  }
}
