@viewport {
  width: device-width;
  zoom: 1;
}
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.active,
.btn:hover {
  background-color: #666;
  color: white;
}
.btn-content {
  display: none;
}
body {
  background-color: #282c34;
  color: #abb2bf;
}
